.post-loader-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 0.5rem;
}
/* From Uiverse.io by mobinkakei */
.post-loader {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-loader_cube {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.post-loader_cube--glowing {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.post-loader_cube--color {
  z-index: 1;
  filter: blur(2px);
  background: linear-gradient(135deg, var(--lite-red), var(--lite-orange));
  animation: loadtwo 2.5s ease-in-out infinite;
}

@keyframes loadtwo {
  50% {
    transform: rotate(-80deg);
  }
}
